<!-- Navigation -->
{{> page/nav/nav}}

<!--Failure message-->
<div class="container">
    <div class="row">
        <h1><i class="fa fa-warning" aria-hidden="true"></i><span> 404 - Not Found<span></h1>
        <h2><small>Page not found</small></h2>
        <h4>Sorry! We can't seem to be able to find the page you are looking for.</h4>
        <h4>If you think that this is an error, plese let us know by sending us a message at our <a href="/contact">Contact</a> page.</h4>
        <h4>Otherwise, you can head back to our <a href="/">Home</a> page to see tech reviews from top experts.</h4>
    </div>
</div>

<!-- Footer Content-->
<footer class="footer">
    <nav class="navbar navbar-inverse no-margin" role="navigation">
        <ul class="nav navbar-nav navbar-left no-margin">
            <li>
                <a href="/" rel="nofollow">{{getSiteName}} &copy; {{getYear}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right no-margin">
            <li>
                <a href="/contact" rel="nofollow">Get here unexpectedly? Tell us.</a>
            </li>
        </ul>
    </nav>
</footer>