<!-- Navigation -->
{{> page/nav/nav}}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <!-- Title -->
            <h1 class="text-center">Canopy Tent Buying Guide</h1>
            <br/>

                <!-- Intro -->
                <p>I believe that owning a canopy tent is the single most effective insurance policy that you can own to protect your outdoor plans. Consider how a bit of rain that isn't in the forecast for a day could ruin an outing you have planned. Now imagine what a difference a high-quality canopy tent could make. In some circumstances like children’s soccer games, picnics, or craft shows, canopy tents can be used as luxuries to allow you to enjoy an event that you might have otherwise cancelled. But for more important events, like weddings for example, owning a canopy tent could forever make the difference in whether or not an important memory is a pleasant one.</p>

                <!-- Variations -->
                <h2>Canopy variations</h2>

                <p>Prior to beginning your search for the ideal canopy tent, you should take some time to think about your needs. Ask yourself some questions about how you plan to use the tent, and try and figure out what features you want to prioritize. Canopy tents come in all shapes and sizes. We have seen everything from <a href="http://amzn.to/2pLtqDB">3 x 3 ft pet canopies</a> to a <a href="http://amzn.to/2rdKJOR">20 x 40 ft collapsable reception pavilions.</a> There aren’t any defined thresholds that separate classes of canopy tents, so I like simplify the process and organize shelters into two categories: portable and heavy-duty. To us, “heavy duty” is just a more politically correct way of saying that it is too heavy for an average person to carry and set up themselves. Although we have come across many products that fall into a grey area, most canopy tent manufacturers either try to make their products light enough for one person to carry, or if they know that their tent is going to be too heavy for a single person then they "cut-losses" on portability and strive for durability. What will you be using your canopy for primarily? What variation is appropriate for you?</p>

                <h3>Portable</h3>
                <p>There may be situations where you just don't want to be lugging a heavy tent around. Maybe you will be carrying it by yourself, or perhaps you'll need to walk with it across some distance to reach your site. For these situations a portable canopy tent might be appropriate. Portable canopy tents are perfect for camping, picnics, tailgating, beach use, and other low impact events. They can be easily transported in the trunk of a car and can be carried or pulled on wheels by one person. One or two average people can erect portable canopy tents in minutes. They are usually relatively inexpensive, most falling into the $100-$200 range. Because of their affordability and portability they have become the more common variation.</p>

                <p>Now, it is important to know that portable canopy tents are designed for short-term use only. You would not want to leave a portable shelter erected for more than a day. The anchors are meant to be strong enough to secure the shelter for the short term, but eventually stakes will loosen from the ground and tie-downs will become less taught. The canopy fabric is meant to withstand a days worth of exposure, but extended periods of time exposed to the elements will cause the material colors to fade, the edges to fray, and tears to appear along the seams. The nylon is usually treated with a waterproofing chemical which will wear off if it is left outside exposed to the elements for too long.</p>

                <h3>Heavy-duty</h3>
                <p>While portable canopy tents are great for many purposes, there may be times when a rugged design matters more, or when you simply need a larger size with a higher capacity underneath. For these situations, a heavy-duty canopy tent might be appropriate. We recommend heavy-duty canopy tents for large events like weddings, reunions, receptions, etc. We recommend heavy-duty canopy tents for permanent solutions like carports. We also recommend heavy-duty canopies for situations where money is being exchanged like yard sales, craft shows, etc. If it is important that you do not need to maintain or adjust your shelter if the weather gets rough, then a heavy-duty canopy is probably more appropriate for you.</p>

                <p>Heavy-duty canopy tents are designed for long-term use. If you set up a heavy-duty canopy tent properly, then it would be safe to leave it erected for weeks (some for years, depending on the type you purchase) exposed to any weather without needing to worry about it breaking or needing maintenance. The stakes are larger and go deeper into the ground, ensuring that bad weather won't shake them loose. The tie downs are woven with fabric that will not stretch with prolonged tension, making sure that they remain taught. Whereas a simple application of a waterproof chemical may be applied to a portable tent, a heavy-duty tent typically features a canopy with thick, tightly-woven fibers. Although this material is heavier, it is also actually waterproof. With prolonged exposure to the elements, a waterproof chemical coating like that on a portable tent could wear down. But the waterproof fabric of a heavy-duty tent will hold up, continuing to keep the space under the canopy dry.</p>

                <p>Unfortunately, these enhanced characteristics come at a price. Indeed, you can expect to pay more for a heavy-duty canopy tent than a portable one. Typically these shelters start at $150 and increase greatly depending on dimensions and composition. They are more difficult to transport because they are heavier and larger. Many heavy-duty canopy tents will not fit into the trunk of an average sized sedan. They are also difficult to set up. A portable canopy tent might require one or two people to set up, but a heavy-duty canopy might require 5 people and take 30 minutes to erect.</p>

                <p>Both types of tents we have discussed have advantages and drawbacks. Neither is fundamentally superior to the other. Which is best ultimately depends upon your individual needs. So sit back and think about what you will be using your canopy tent for. Is portability important to you? Durability? Cost? Will you need to leave your shelter set up for extended periods of time? How bad will the weather be? Will your canopy tent help facilitate commerce? These are the questions that should drive your determination of what variation is appropriate for you.</p>

                <!-- Variation Comparison Table -->
                <table class="table">
                    <tr>
                        <th>Variation</th>
                        <th>Pros</th>
                        <th>Cons</th>
                    </tr>
                    <tr>
                        <td>Portable Canopy Tent</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Perfect for recreational use</li>
                                <li>Portable</li>
                                <li>Lightweight</li>
                                <li>Quick and easy to set up</li>
                                <li>Inexpensive</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Lack of durability</li>
                                <li>Can't withstand high-impact weather</li>
                                <li>Can't remain erected for longer than 1 day</li>
                                <li>Can't be unattended</li>
                            </ul>     
                        </td>
                    </tr>
                    <tr>
                        <td>Heavy-duty Canopy Tent</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Durable</li>
                                <li>Can be left overnight</li>
                                <li>Can withstand medium to high-impact weather</li>
                                <li>Suitible for commercial use</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Difficult to set up</li>
                                <li>Expensive</li>
                                <li>Difficult to transport</li>
                            </ul>     
                        </td>
                    </tr>
                </table>

                <!-- Frame Material -->
                <h3>Frame Material</h3>
                <p>Every component of a canopy tent is important, but we believe that the most important is the frame because it determines how stable and durable the product is overall. The frame is the bones, the structure, of the shelter so it is important that it is made correctly and of the right material.</p>

                <p>The first aspect of the frame you should consider is the material that it is made out of. Each material has it's own strengths and weaknesses and the consumer should, again, consider what the primary use for the shelter will be before picking an appropriate material. Some metals are heavier than others, and some are more durable than others. You might find yourself with a trade-off with respect to weight or durability. So make sure you decide which of these two characteristics is more important to you before choosing.</p>

                <!-- Aluminum -->
                <h4>Aluminum</h4>
                <p>If you intend to use your canopy tent for recreational purposes such as picnics, camping, etc., then you are probably leaning towards a portable canopy tent and value weight over durability. For recreational use, aluminum is the preferred frame material because it is lightweight. This makes the shelter easier to transport and often reduces the amount of people that are necessary to set up the canopy tent. Aluminum is resistant to corrosion and rust. For these reasons, an aluminum frame will often outlive a steel frame. The drawback to aluminum is that it is not as strong as steel. The lighter weight metal bends easier, meaning that aluminum frames are not suitable for high impact or prolonged use. So, a portable tent with a frame made out of aluminum may not be appropriate if you get strong gusts or high sustained winds. You may need to opt for a heavier tent if that is what you are expecting.</p>

                <!-- Steel -->
                <h4>Steel</h4>
                <p>So, what material makes sense for strong winds? We recommend steel. This material is also more suitable for tents that will stay up for more than a few days. Steel is not as lightweight as aluminum, but it is more durable. I do want to point out that some shelters that we classify as heavy-duty sometimes have aluminum frames and that variation and frame material are not mutually exclusive characteristics.</p>

                <p>Steel is stronger than aluminum and can withstand heavy winds and rain. A steel frame will not dent or bend as easily as an aluminum one. Steel does have its drawbacks, though. First of all, it is not as resistant to corrosion and rust as aluminum. This may be an issue if your environment is one with high humidity, or if you get a lot of precipitation (don't forget, even though your canopy may be waterproof, water can still blow in from the sides). If that is the case, you will need to remove the rust yourself from time to time to prolong the lifespan of the frame. Steel is also much heavier than aluminum so it will be more difficult to transport and assemble your steel framed canopy tent.</p>

                <p>To summarize, aluminum out performs steel in weight and longevity. But steel out performs aluminum in durability. Although not every heavy-duty tent uses steel, most do. Likewise, not every portable tent uses aluminum, but most do.</p>

                <!-- Frame Material Comparison Table -->
                <table class="table">
                    <tr>
                        <th>Material</th>
                        <th>Pros</th>
                        <th>Cons</th>
                    </tr>
                    <tr>
                        <td>Aluminum</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Perfect for recreational use</li>
                                <li>Lightweight</li>
                                <li>Resistant to corrosion and rust</li>
                                <li>Longer lifespan</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Not as strong</li>
                            </ul>     
                        </td>
                    </tr>
                    <tr>
                        <td>Steel</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Strong</li>
                                <li>Often used in heavy-duty variations</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Not resistant to corrosion and rust</li>
                                <li>Shorter lifespan</li>
                                <li>Heavy</li>
                            </ul>     
                        </td>
                    </tr>
                </table>

                <!-- Frame Structure -->
                <h3>Frame Structure</h3>
                <p>After you settle on a frame material, the next thing you will need to think about with respect to the frame is the style of construction. There are three main types of structures: pop-up, pole, and frame shelters.</p>

                <!-- Pop-Up -->
                <h4>Pop-Up Canopy Tent</h4>
                <p>Most of the shelters that we review are pop-up canopy tents. We use the term "pop-up" to describe any frame that collapses and expands on assembly and disassembly rather than separates into smaller pieces. Of the three variations, the pop-up frame is the most convenient. Pop-up canopy tents are quick and easy to assemble and disassemble. They do not require schematics or instructions because they are one inseparable piece that expands and collapses as you pull the legs of the frame apart or push them back together. Plus, permanent joints connect all the components. So, they are unlikely to every disconnect from one another and go missing.</p>

                <div class="col-xs-12">
                    <img src="/img/pop-up-frame.jpg" class="img-responsive center-block" alt="Canopy Tent Pop-Up Frame" />
                </div>

                <p>Although pop-up frames offer the the best ease-of-use, they not the best option with respect to durability. The hinges that connect pieces of the frame are usually plastic and fragile. If you apply pressure in a direction that the hinges are not built to support, you can easily damage the frame of your shelter.</p>

                <p>Within the pop-up frame structure, you can take your analysis one step farther by looking at the design of the frame. The pop-up frame is the only frame type where you can really analyze the design because pop-up design is complex enough that there is room for variations. The pop-up tents we have tested have fallen into two main categories. These are are the pyramid and cross truss.</p>

                <!-- Pyramid -->
                <h5>Pyramid</h5>
                <p>Most pop-up canopy tent frames use truss supports around the perimeter of the canopy, and then use longer arching supports to support the dome of the canopy. This is what we call the pyramid design.</p>

                <div class="col-xs-12">
                    <img src="/img/pyramid-frame.jpg" class="img-responsive center-block" alt="Canopy Tent Pyramid Frame" style="max-width: 100%;"/>
                </div>

                <p>This is the most common design because it requires less material. That means it does not cost as much to manfuacture this type of pop-up tent, and manufacturers can pass those savings along to the customer. The pyramid design is strong enough for recreational use in mild weather, but it is vulnerable to damage. One of the problems with the pyramid design is that there aren't any supports across the middle of the center of the square that the frame forms. A shape without cross support is easy to brake if any rotational pressure is applied. That is to say it would be easy to mis-form the square by pushing inward from two opposite corners. This is the reason why builders always use cross beams when framing walls. The pyramid design has its benefits. It is cheaper and lighter weight. But, it lacks the some of the sheer strength that comes with a cross-truss design.</p>

                <!-- Cross Truss -->
                <h5>Cross-Truss</h5>
                <p>The cross truss design uses the pyramid design as it's base and then adds supports that brace the mid points of each side of the square to the center. This cross section of support through the tent's center reduces its vulnerability to rotational pressure or pressure from the sides.</p>

                <div class="col-xs-12">
                        <img src="/img/cross-truss-frame.jpg" class="img-responsive center-block" alt="Canopy Tent Cross Truss Frame" style="max-width: 100%;"/>
                </div>

                <p>The cross-truss design is not as common as the pyramid design because it is complicated and requires more material to construct. That means that it is more expensive for the manufacturer, which inevitably leads to a higher cost for the consumer. The cross-truss design still isn't practical for high impact weather or prolonged use, but the design makes it a much more rugged canopy tent. The reason that most pop-up canopies break or become unusable is because the joints at the mid points of the sides of the square frame loose their strength. This happens when too much stress is applied to a side of the frame. Although a cross-truss canopy frame could not withstand extreme pressure on a frame edge, the reinforcement struts will protect it from unforeseen medium-impact circumstances that might have broken a pyramid frame. Your frame will last longer, too, because the long term wear on the side joints will be less. That being said, a cross-truss frame is still a portable pop-up variant and cannot be substituted if your situation requires a heavy-duty variation. Nevertheless, it is a good "best of both worlds" option if you want a portable tent that is more durable than most, but don't need a seriously heavy-duty canopy tent.</p>

                <p>If you are ok with the extra weight and higher price tag, we recommend the cross-truss design because it is sturdier. If you value portability or affordability, then we recommend the pyramid design. Choosing the right canopy tent is a highly individual decision, so weigh what is important to you with care before making your selection.</p>

                <!-- Pop-Up Frame Design Comparison Table -->
                <table class="table">
                    <tr>
                        <th>Pop-Up Frame Design</th>
                        <th>Pros</th>
                        <th>Cons</th>
                    </tr>
                    <tr>
                        <td>Pyramid</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Cheaper</li>
                                <li>Less weight</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Not as strong</li>
                                <li>Shorter lifespan</li>
                            </ul>     
                        </td>
                    </tr>
                    <tr>
                        <td>Cross-Truss Frame Design</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Stronger</li>
                                <li>Longer lifespan</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>More expensive</li>
                                <li>Heavy</li>
                            </ul>     
                        </td>
                    </tr>
                </table>

                <p>Strength is the only serious drawback of a pop-up canopy tent frame. They are the most common frames on the market because their benefits greatly overshadow the strength issue. These types of tents are also the most cost-effective options on the market. If you intend to use your canopy for low-impact recreational use, we recommend a pop-up frame.</p>

                <!-- Pole Tent -->
                <h4>Pole</h4>
                <p>Do you need a shelter that is larger than 12 feet in any direction? If so, a pop-up frame may not be able to offer the support you need. The next most affordable option is a pole canopy tent. The distinguishing characteristic of a pole canopy tent is that tension in the rope that anchors the frame to the ground is what keeps the shelter standing. A pole tent typically uses a tall vertical pole in the center of the canopy and shorter vertical poles along the edge of the shelter.  By pulling the canopy tight in opposite directions, the force from the tension of the ropes can support the weight of the vertical poles. If rope tension is applied in the correct directions, then there is no need for braces between vertical poles.</p>
                
                <div class="col-xs-12">
                    <img src="/img/pole-tent.jpg" class="img-rounded img-responsive center-block" alt="Pole Canopy Tent" style="max-width: 100%;"/>
                </div>                      

                <p>The pole design is simple and effective. Since a cross support isn’t necessary, there are not a lot of components necessary for a large pole tent. If you need a heavy-duty or large canopy tent and still want to try to maintain portability, then a pole frame might be appropriate. Pole frames tend to be more affordable than frame tents as well. Fewer components means lesser cost. Many pole tents contain wooden frame poles, which are just as effective as metal, but cheaper. The reason that pole frames can get away with wooden components is because all of the pressure on the frame poles is directly down the center of the pole, which wood can effectively support. Also there isn't a need for joints or bolts that could splinter the wood.</p>

                <p>Pole frames do have their drawbacks though. First of all, consider the structure of the tent, which requires a large pole right in the middle of the tent. This, in itself, is a deal breaker for many situations. Also, pole canopy tents are the most difficult frame type to set up. The shelter won't stand up unless there is equal pressure applied on each side. At a minimum, you would need one person to support the main beam, two people to apply tension on opposite sides, and one person to pound in the stakes. The last big drawback that comes with a pole frame tent is that you can only set up the tent in an area where you can pound stakes into the ground because the entire support system is based on the tension that is provided by the anchor ropes. Weights won't provide enough tension. It's also doubtful that you will be able to find enough tie-down points in the right locations to provide the correct directional tension, so you are constrained to lawns pretty much.</p>

                <!-- Frame Tent -->
                <h4>Frame tent</h4>
                <p>What if you don’t want to deal with the disadvantages of a pole tent, but you still need a large or permanent structure? Frame tents use heavy duty steel poles that connect at steel hinges. Vertical poles are connected to each other with horizontal supports so a frame tent does not need to be anchored to anything to stand. In mild weather, a frame tent is usually ok being erected without tie downs because it is heavier than pop-up tents and less affected by the wind.</p>
                
                <div class="col-xs-12">
                    <img src="/img/frame-tent.jpg" class="img-responsive center-block" alt="Frame Canopy Tent" style="max-width: 100%;"/>
                </div>                        

                <p>Of all the types of tents we have discussed thus far, frame tents are the most durable. The fixed metal joints are a huge improvement in terms of strength over the plastic joints of a pop-up canopy tent. We have been able to do pull-ups on the cross supports of a few of the larger frame tents that we have reviewed. Frame shelters aren't as easy as pop-up shelters to erect, but they are easier than pole tent shelters. There are many separate pieces, and you often need to follow instructions. But the upside is that you do not need a large group to erect the tent. In fact, one person can often take care of it by themselves (though having a partner to help may make it easier). Horizontal trusses allow a frame canopy tent to stand without any vertical center support like a pole frame, so frame canopy tents are a viable option for a permanent shelter like a carport or storage shelter. The larger, stronger supports ensure that the frame won't be damaged in high-impact weather.</p>

                <p>Alas, there are some drawbacks to frame tents, not the least of which are cost and weight. They are the most expensive frame option because the poles that make up the frame are usually made of heavy-duty steel. Their joints are also metal, which is more expensive to manufacture than the plastic joints of a pop-up frame. Frame tents are the heaviest and least portable variation. Each pole weighs in at a couple pounds and the entire frame consists of at least 18 poles, so it is easy for a larger pole tent frame to weigh over 100 pounds. The size and weight makes pole frames inconvenient for anything but long-term use.</p>

                <!-- Frame Structure Comparison Table -->
                <table class="table">
                    <tr>
                        <th>Frame Structure</th>
                        <th>Pros</th>
                        <th>Cons</th>
                    </tr>
                    <tr>
                        <td>Pop-up Canopy Tent</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Perfect for recreational use</li>
                                <li>Portable</li>
                                <li>Lightweight</li>
                                <li>Quick and easy to set up</li>
                                <li>Inexpensive</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Lack of durability</li>
                                <li>Can't withstand high-impact weather</li>
                                <li>Can't remain erected for longer than 1 day</li>
                                <li>Can't be unattended</li>
                            </ul>     
                        </td>
                    </tr>
                    <tr>
                        <td>Pop-up Canopy Tent</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Perfect for large events</li>
                                <li>More Durable</li>
                                <li>Can be left overnight</li>
                                <li>Can withstand medium-impact weather</li>
                                <li>Somewhat portable</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Difficult to set up</li>
                                <li>More expensive</li>
                                <li>Needs to be staked into the ground</li>
                                <li>Needs to have a center pole</li>
                            </ul>     
                        </td>
                    </tr>
                    <tr>
                        <td>Frame Canopy Tent</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Perfect for permenant structures</li>
                                <li>Most Durable</li>
                                <li>Can be left set-up indefinately</li>
                                <li>Can withstand high-impact weather</li>
                                <li>Does not need to be staked into the ground</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Difficult to set up</li>
                                <li>Most expensive</li>
                                <li>Not portable</li>
                            </ul>     
                        </td>
                    </tr>
                </table>

                <!-- Slanted Legs vs Straight Legs -->
                <h3>Slanted Legs vs Straight Legs</h3>
                <p>All pole tents will have straight vertical supports. Most Frame tents will have vertical supports as well. But pop-up canopy tents are readily available with legs that stand perpendicular to the ground and with legs that stand at slight angles. You will also find straight leg and slanted leg versions of pyramid and cross truss tent designs.Both leg variations have their pros and cons, so the right variation for you will once again be situationally dependent.</p>

                <!-- Slanted Legs -->
                <h4>Slanted Legs</h4>
                <p>Slanted legs are more stable than straight legs for the same reason that a cross truss design is more stable than a pyramid design. You may have noticed that triangular shapes show up a lot in construction (take a look at a bridge sometime that features metal supports). The reason engineers opt for triangles in design is because they offer superior stability compared to other shapes. Once you attach the three sides, the shape cannot be altered without breaking the supports. That means there is less rotational pressure on the joints. On the other hand, many shapes can be made with four supports because a square can be skewed to create a rhombus. Although a slanted leg canopy tent frame is not a triangle, the concept still applies. The wider the legs are spread, the more laterally stable the frame gets. By adding a few degrees of lean to the legs, manufacturers can greatly increase the stability of the frame. The drawback to this is that the wider you spread the legs, the less convenient the canopy tent is to use. Wider legs mean a larger footprint, which means that the tent requires a larger area to be set up. At events like outdoor festivals, where vendors position themselves directly next to each other and canopy tents often are touching, slanted legs could be a deal breaker. Another thing to keep in mind about slanted legs is that manufacturers often describe the size of the canopy tent by the distance between the feet of the frame. For example a 10x10 canopy tent with slanted legs means that the feet of the frame are touching the ground 10 feet from each other. But if the legs are slanted, that means that the canopy itself must be smaller than 10x10. A 10x10 slanted leg canopy tent might only have an 8x8 canopy. That means that the tent is not providing as much shade coverage as you might expect given the description of its dimensions. Be cautious of this while you are shopping. We recommend slanted legs if you don’t ever believe that you will need to use your canopy tent in a tight area. If you are using your canopy for camping, or at soccer games, or for tailgating, then they are a good option.</p>

                <!-- Straight Legs -->
                <h4>Straight Legs</h4>
                <p>Since straight legged canopy tent frames lack the geometric stability that slanted legged frames have, manufacturers are forced to compensate by building a thicker frame. There are some benefits to a thicker frame, but there are some drawbacks as well. A thicker frame is going to be sturdier and stronger. A thicker straight-legged frame will be able to withstand the same weather conditions as it's slanted legged counter part. But since it is built with thicker components, the frame will be more resistant to unforeseen high impact events. For example if you were to back your car into your shelter, a thinner slanted legged frame may bend while a thicker straight legged frame might be able to withstand the impact and displace without being damaged. I will not admit how many times I have actually done this. The drawback to a thicker frame is that it is going to be heavier and will most likely cost more. The manufacturer will have to use more metal to produce the straight legged frame, so the shelter will probably be more expensive. We have seen an average increase of 15% in the weight of a straight legged canopy tent versus one with slanted legs. So, keep that in mind as well with respect to portability.</p>

                <p>A straight legged shelter will have a canopy that protects the entire area between the feet, so consumers who need to maximize coverage tend to prefer straight legs. Since the legs do not extend beyond the canopy, you can place a straight legged canopy tent directly adjacent to another tent or wall without wasting space in between. This allows you to travel from under the canopy to the next form of shelter with exposing yourself to any elements. This is particularly desirable for events where canopy tents will be set up directly next to each other like at outdoor festivals. We recommend straight legged canopy tents if you believe that you will ever be in a situation where you will need to set your canopy up directly next to another structure or if you need to maximize coverage given the land footprint you will be using.</p>

                <!-- Leg Variation Comparison Table -->
                <table class="table">
                    <tr>
                        <th>Canopy Tent Leg Variation</th>
                        <th>Pros</th>
                        <th>Cons</th>
                    </tr>
                    <tr>
                        <td>Slanted</td>
                        <td>
                            <ul class="no-bullets">
                                <li>More stable</li>
                                <li>Less weight</li>
                                <li>Cheaper</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>Not as strong</li>
                                <li>Less Canopy Coverage</li>
                                <li>Cannot connect to another shelter</li>
                                <li>Not suitable for outdoor festivals</li>
                            </ul>     
                        </td>
                    </tr>
                    <tr>
                        <td>Straight</td>
                        <td>
                            <ul class="no-bullets">
                                <li>Needs to be thicker to stay as strong</li>
                                <li>Heavier</li>
                                <li>More expensive</li>
                            </ul>  	
                        </td>
                        <td>
                            <ul class="no-bullets">
                                <li>More canopy coverage</li>
                                <li>Can be set up directly next to another structure</li>
                                <li>Good option for outdoor festival</li>
                            </ul>     
                        </td>
                    </tr>
                </table>

                <!-- Canopy -->
                <h2>Canopy</h2>
                <p>We have now talked about the frame, which is one of the two major components of a canopy tent, alongside the canopy itself.  You should first decide on the frame variation that is most suitable for your needs because the frame is the component that really dictates the characteristics of your canopy tent. For example if you choose to heavy-duty canopy variation, then your shelter is going to be large and heavy, so it would not make senses to pay any extra money for a light weight canopy fabric. Saving a half pound in canopy weight isn't going to be noticed because of the weight of your heavy frame. You should make sure that the fabric of your canopy is never the weakest link in the strengths of your canopy tent. For example if you select a canopy tent with a frame that can withstand high-impact weather, it would be a waste if your canopy could not also withstand the same weather. So, now let's continue on to discuss canopies in detail so you know what options are out there and what is important to look for in a canopy.</p>

                <!-- Waterproof vs Water Resistant -->
                <h3>Waterproof vs Water Resistant</h3>
                <p>The term waterproof means that you could use the fabric as a basin to hold a pool of water and that water would not seep through. Truly waterproof fabric is heavy because it requires a dense thread count. Also, the fibers need to be made with some sort of synthetic material that is not permeable by water molecules. It is expensive to manufacture waterproof material so most material that is marketed as "waterproof" is usually actually water resistant material with a water proofing chemical such as fluoropolymer applied. This chemical acts like glue. It fills in the gaps between the woven fibers and seals the individual fiber strands in a impermeable coating. If your tent gets a lot of use, you are going to see that sealant start breaking down over time. A few years down the road, you probably are going to need to re-waterproof your canopy by applying new sealant yourself. When the waterproofing sealant wears off, the material that remains is usually still water resistant so you might not ever actually notice any leaking because water resistant material will keep you dry. But in heavier rain, it might become obvious.</p>

                If you are just purchasing a tent for casual recreational use, we do not recommend getting one with actual waterproof fabric, as that is more than what you are likely to need. If you are purchasing a pop-up canopy tent, we wouldn't place any importance on waterproof vs water resistant material because your shelter should never be in a situation where one material will out perform the other. Also, waterproof canopies on pop-up frames are most likely water resistant fabric with a waterproof sealant. Eventually this will wear off, so the argument will be moot.Finally, in all frankness, it costs a lot less to waterproof your canopy yourself by purchasing and applying a sealant. It doesn’t take too long, and it can work just as well.</p>

                <p>The canopies of a shelter are designed with an incline so that rain will run down the canopy and trickle off the edge. Water resistant material has a dense enough thread count that this process occurs without any water dripping through the material. Even in heavy down pours, rain usually does not get through water resistant canopies. In a rain storm you will notice the difference between waterproof and water resistant material if you touch the underneath of the canopy. Water proof material will feel dry because the moisture cannot permeate the material. Water resistant material will feel damp because rain has filled in the gaps in the fibers of the material. Nevertheless, it is rare for enough water molecules to get through and join together to actually create a droplet that could fall on you. Water resistant material immediately looses its effectiveness if water cannot run off of it, though. If your canopy is loose and a puddle is able to form, the puddle will seep through the material and drip. When you touch the canopy from the underside, it creates a deviation in the flat path of the canopy and spreads the fibers of the canopy momentarily, which can allow some water to permeate. So whenever you touch the underneath of a wet canopy, you often feel water run down your finger. For that reason, a canopy that can hold its shape well is actually arguably just as important for staying dry underneath as water resistance.</p>

                <p>For most recreational situations water resistant material is suitable. But what if you are in a situation where you need the canopy to be able to stand for days in the rain without the water getting through? That is a situation where it would make sense to purchase a canopy tent that features actual waterproof material, not just a water resistant sealant. It can be tricky to understand just how waterproof the canopy is because manufacturers throw the term around very loosely. There really isn't such thing as truly waterproof woven fabric. Eventually if you place enough water pressure onto a fabric, it will seep through. Denser thread counts and thicker material increase the water pressure that a canopy can withstand. Manufacturers are often vague when describing how much pressure their canopy material can withstand, especially if it is a low number. If you are unable to find a quantifiable description of the resistance of the material, we recommend that you don't purchase that canopy. Since no fabric is actually water proof but the term is common, some manufactures feel that they have an entitlement to the term even though their product is far from water proof. Reputable manufactures will describe the strength of their canopies. There isn't a universal measurement system, so we have seen a variety of interesting measurements. If the canopy is listed with a “10,000mm/24 hrs” waterproof rating, that means that the canopy can withstand 10,000mm of rainfall in a single day without letting moisture in. As you can see, this system is not very scientific or intuitive. Whenever "mm" is uses by itself to measure the strength of a material, it means that a tube is filled with that many millimeters of water and the fabric is used to seal the bottom of the tube. The fabric can withstand a tube of water filled to that height. Because waterproof ratings can be so misleading, it is a wise idea to check out what customers have been saying about a product to get more of a feel for how waterproof the tent actually is. But just keep in mind that mileage can vary. A customer who complains a tent is not waterproof may have misused it in some manner.</p>

                <!-- Canopy Material -->
                <h3>Canopy Material</h3>
                <p>There are not hard rules for picking the best canopy material because there is no "best" canopy material. Like frame material, each canopy material has its own strengths and weaknesses. Ultimately, you need to consider your own requirements when deciding on a material, because the right material for one person may be the wrong material for another. When you are shopping for the right canopy fabric, you should try to figure out how important each of the following characteristics is to you: water resistance, durability, protection from ultra violet rays, and fire retardation. Each fabric can come in a variety of thickness, so keep in mind that strengths can be amplified if the material is thicker. In addition to material thickness, which is usually measured in millimeters, the density of the actual fibers in the fabric is measured in a unit called "deniers". A denier is roughly defined as the mass in grams per 9000 meters of the fiber. For example, a 9000-meter strand of silk weighs about one gram and therefore has a measurement of 1 denier. We generally classify any fabric over 500 denier as heavy duty. 500 denier is right around where the canopy becomes too heavy to be convenient for recreational use. There are many materials used for canopy fabric, and we have gone into it in more depth in another blog post, <a href = "/blog/synthetic-fabric">Man made material... Is it worth it?</a>Below, we discuss the three most common fabrics that are used in the manufacture of canopy tents.</p>

                <!-- Polyester -->
                <h4>Polyester</h4>
                <p>Polyester is the most common material on pop-up canopy tents because it is the most affordable. It is water resistant unless the manufacturer applied a sealant to it and is marketing it as water proof. Be prepared for the sealant to begin to lose its effectiveness after a year of use. Polyester will protect you from UV rays, but not to the extent that other thicker materials will. One of the reasons that polyester is so popular is because it is pretty durable despite it's inexpensive cost. That fact that it is durable, inexpensive, and light weight, makes polyester a good material to use with pop-up canopy tents. Because its UV ray protection is not as strong as some other materials and it does a good job with water resistance, it may be a suitable choice if you live in an area that receives a lot of cloud cover and showers.</p>

                <!-- Polyethylene -->
                <h4>Polyethylene</h4>
                <p>Polyethylene is a step up from polyester in terms of durability, but a step down from it in terms of portability. Most tarps are made from polyethylene because it is cheap and durable. Polyethylene is pretty thick though, and cannot be folded up to a small area like polyester can be. The additional thickness does give it extra strength to withstand more water. We would loosely refer to polyethylene as water proof. You wouldn't need to worry about water seeping through the fabric. Because it is inexpensive, durable, and water proof, we recommend polyethylene as an option for an inexpensive long term structure like a carport, but would not advise it if you are looking for something to set up for an afternoon out now and again. The one caveat is that this material will not hold up to snow. Snow becomes heavy quickly, so too much snow could cause the fabric to rip. Aside from the weight of snow, it will protect a vehicle from most other low to medium impact weather. It will also block UV rays, which makes it another good option for a carport because it will protect the finish of your vehicle from the damaging affects of constant sunlight. One of the problems is that polyethylene still does not have the durability that is needed for a permanent shelter in high impact weather conditions. If you have ever actually felt a normal "blue" tarp, you know that the fabric, despite being relatively strong, is still cheep. Polyethylene will rip and fray if too much pressure is applied. It is more durable than polyester and is waterproof so we recommend polyethylene for mild climate permanent solutions or short term high impact use. You could get away with using a polyethylene canopy for a windy weekend, but not for a windy season.</p>

                <!-- Vinyl -->
                <h4>Vinyl</h4>
                <p>Vinyl is the most rugged of the three materials. It is a synthetic plastic made from ethylene and chlorine. You may have also heard it referred to as PVC. Vinyl is commonly used in construction for kitchen and bathroom floors and house siding because it is very strong and durable. It is also resistant to moisture and humidity, blocks UV rays, and it is waterproof. It has become the second most commonly used plastic resin in the world. Vinyl canopies are actually polyester canopies with a vinyl coating. The idea of a fabric having a chemical coating may scare you because of the inevitable deterioration of the chemical coating. Heavy duty vinyl canopies are far less susceptible to cracking than the typical sealant found on the canopies of portable pop-up canopy tents. The vinyl is usually thick enough that it becomes it's own impermeable layer of protection, not just a hole filler. That being said, if you crease your canopy fabric, over time you may notice deterioration in those areas. Vinyl is an acceptable material for the siding on a house because it can withstand high impact weather over a prolonged period of time. The same is true for vinyl coated polyester. We recommend vinyl canopies for any permanent structures, or any shelters that will need to withstand high impact weather. One of the only drawbacks to vinyl canopies is that they are heavy. In fact, as the heaviest material on this list, it is the least suitable for a portable tent you want to transport to and from recreational sites. Vinyl is also thick, which means that it doesn't easily pack into a small area. In order to mitigate the risk of cracking, vinyl should not be creased. For these reasons, a tent with a vinyl canopy will not be all that compact when you collapse it. Vinyl is also the most expensive of the three materials. Because of its price and lack of portability we only recommend vinyl for large permanent structures, or for events where high impact weather is inevitable. For these types of situations, though, you can feel confident that your vinyl canopy will protect you.</p>
        </div>
    </div>
</div>

<!-- Footer Content-->
{{> page/footer}}