<!-- Navigation -->
{{> page/nav/nav}}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Disclaimer and Disclosure</h2>
            <p>If you require any more information or have any questions about our site’s disclaimer and disclosure, please feel free to <a href="/contact" rel="nofollow">contact us.</a></p>

            <h4>Disclaimer</h4>
            <p>All the information on this website is published in good faith and for general information purpose only. {{getSiteName}} does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (canopytentreviews.com), is strictly at your own risk. We will not be liable for any losses and/or damages in connection with the use of our website.</p>

            <h4>Affiliate Disclosure</h4>
            <p>It takes time and money to pay for the products and to maintain and host the website. Instead of tainting the user experience with ads, we use affiliate links to generate the revenue to keep the site live. We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites. Amazon offers a small commission on products sold through their affiliate links. Each of your purchases via our Amazon affiliation links supports our cause at no additional cost to you. You will not pay more by clicking to Amazon through our link.</p>

            <h4>Consent</h4>
            <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
        </div>
    </div><!-- /Row-->
</div><!-- /Page Content -->

<!-- Footer Content-->
{{> page/footer}}