<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/">All Canopy Tents</a></li>
        <li><a href="/best-10x10-canopy">Best 10x10 Canopy Tent</a></li>
        <li><a href="/best-beach-canopy">Best Beach Canopy</a></li>
        <li><a href="/best-12x12-canopy-tent">Best 12x12 Pop Up Canopy</a></li>
        <li><a href="/best-10x20-pop-up-canopy">Best 10x20 Canopy Tent</a></li>
        <li><a href="/best-20x20-tent">Best 20x20 Tent</a></li>        
        <li><a href="/best-beach-tents">Best Beach Tent</a></li>
        <li><a href="/best-baby-beach-tents">Best Baby Beach Tent</a></li>
        <li><a href="/best-pop-up-gazebo">Best Pop Up Gazebo</a></li>
        <li><a href="/best-waterproof-tent-for-rain">Best Waterproof Tent For Rain</a></li>
    </ul>
</li>
