<!--Social Media icons-->
<ul class="nav navbar-nav navbar-right ">
    <li>
        <div class="social">
            <a class="a-social" href="http://facebook.com/CanopyTentReviews" rel="nofollow"><i class="fa fa-facebook"></i></a>
            <a class="a-social" href="https://twitter.com/CanopyTent" rel="nofollow"><i class="fa fa-twitter"></i></a>
        </div>
    </li>
</ul><!--/Social Media icons-->