<!-- Footer Content-->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-xs-6">
                <p>{{getSiteName}} &copy; {{getYear}}</p>
            </div>
            <div class="col-xs-6">
                <a href="/disclaimer" rel="nofollow"><div class="pull-right footer-links">Disclaimer</div></a>
            </div>
        </div>
    </footer>
</div>